* {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

body{
    background-color: pink;
}

@font-face {
    font-family: 'AvenirLight';
    src: url('../fonts-memorymap/AvenirLight.otf');
}

@font-face {
    font-family: 'FuturaLight';
    src: url('../fonts-memorymap/FuturaLight.otf');
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #333333;
	border-bottom: 1px solid #ccc; 
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
 }

#nav ul {
	list-style: none;
	width: 1100px;
	margin: 0 auto;
	padding: 0; 
}

#nav li {
	float: left;
 }

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
    font-size: 30px;
}

#nav li:first-child a {
    background-color: green;
}

#nav li a:hover {
	color: #c00;
	background-color: #fff; 
}

.heading{
    margin-top: 0px;
    text-align: center;
    font-family:'AvenirLight';
    font-weight: 1800;
}

.picsize{
    width:500px;
    height:500px;
}

.frame{
    border: 20px solid white;
    width:500px;
    height: 500px;
    margin-left: 40px;
    margin-top: 30px;
    border-bottom-width: 100px;
}

.fields{
    position: relative;
    left:585px;
    bottom:500px;
    font-size: 40px;
    font-family: 'FuturaLight';
    font-weight: bold;
}

.inputs{
    padding:20px 30px;
    border-radius: 20px;
    margin:10px;
}

.date{
    padding-right: 60px;
    padding-left: 60px;
}

.description{
    padding: 90px 120px;
}

.frametextleft{
    position: relative;
    bottom: 670px;
    right:150px;
    font-family: 'AvenirLight';
    font-weight: bold;
    text-align: center;
}

.frametextright{
    position: relative;
    bottom: 730px;
    left: 455px;
    font-weight: lighter;
    color: #000000a1;
}

.framedate{
    position: relative;
    right:28px;
    color:#000000;
    font-weight: bold;
    top:0px;
}

footer{
    text-align: center;
    background-color: #333333;
    padding: 20px 500px;
    margin-top: 80px;
    color:white;
    font-size: large;
}

.button{
    background-color:yellow;
    padding: 15px 25px;
    position: relative;
    bottom:20px;
    left:15px;
    border: transparent;
    border-radius: 20px;
    font-style: 'AvenirLight';
    font-size: large;
}

.button1{
    top:10px;
}

.button:hover{
    color:red;
    background-color: white;
}

.field1{
    position: relative;
    left:640px;
    bottom:500px;
    font-size: 35px;
    font-family: 'AvenirLight';
    font-weight: lighter;

}

.latitude{
    position: relative;
    left:auto;
    right:85px;
    color:#0000009d;
    font-weight: bold;
    top:0px;
}